.button {
  margin-left: 2.4rem;
  padding: 0.5rem 2.5rem;
  font-size: 1.25rem;
  font-weight: 800;
  border-radius: 0.5rem;
  color: white;
  background-color: #2556f6;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.button:hover {
  filter: brightness(1.2);
}
