.button {
  display: flex;
  align-items: center;
  margin: 0 0.4rem;
  padding: 0.2rem 0.6rem;
  font-size: 2.4rem;
  background-color: transparent;
}

.text {
  margin-left: 0.4rem;
  font-size: 1rem;
}
