.list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.8rem;
  font-size: 2.8rem;
  background-color: transparent;
}
