.button {
  margin-bottom: 0.3rem;
  white-space: nowrap;
  flex-shrink: 0;
  padding: 0.1rem 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 1rem;
  color: white;
  background-color: var(--color-blue);
  transition: filter 0.1s ease-in-out;
}

.button:hover {
  filter: brightness(0.8);
}

@media screen and (max-width: 756px) {
  .button {
    width: 90%;
    font-size: 1rem;
    padding: 0.3rem 0.5rem;
  }
}
