.button {
  padding: 0.1rem 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 1rem;
  color: white;
  background-color: var(--color-blue);
  transition: all 0.1s ease-in-out;
}

.button:hover {
  filter: brightness(1.2);
}
