.button {
  flex-shrink: 0;
  padding: 0.1rem 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 1rem;
  color: white;
  background-color: var(--color-blue);
  transition: all 0.1s ease-in-out;
}

.button:hover {
  filter: brightness(0.8);
}

@media (max-width: 768px) {
  .button {
    font-size: 1.3rem;
    height: 3rem;
    border-radius: 40px;
    padding: 0.1rem;
    width: 100%;
    box-sizing: border-box; 
    margin: 0.3rem 0;
  }
}
