.article {
  position: relative;
  margin: 1rem 1rem 3rem;
  height: 580px;
}

.background {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

.box {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(-60deg, transparent 56%, white 0);
}

.box__right {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(120deg, transparent 56%, white 0);
}

.info {
  margin-top: 120px;
  width: 44%;
}

.info__right {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 120px;
  width: 44%;
}

.title {
  margin: 0 2rem;
  font-weight: bold;
}

.text {
  text-align: start;
  margin-bottom: 4rem;
  font-size: 1.1rem;
  white-space: pre-wrap;
}

.text__right {
  text-align: end;
  margin-bottom: 4rem;
  font-size: 1.1rem;
  white-space: pre-wrap;
}
