.box {
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  width: 90%;
  height: 4rem;
  margin: 0 auto;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.alert {
    margin-left: 1rem;
    color: var(--color-blue);
    font-size : 2rem;
}

.box:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.box.isSelected {
  background-color: #f3f5f7;
  transform: scale(1.05);
}

.userData {
  display: flex;
  font-size: 1.1rem;
}

.messageStatusBox {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bedgeBox {
  margin-right: 1rem;
}

@media (max-width: 425px) {
  .alert {
    font-size: 2rem;
  }
  .userData {
    display: inline;
    align-items: center;
    margin-top: 0.2rem;
    margin-left: 0.2rem;
    margin-right: 0rem;
    font-size: 0.9rem;
  }
  .bedgeBox {
    margin-right: 0.5rem;
    font-size: small;
  }
}
