.chat-messages {
  background-color: #E4E4E4;
  display: flex;
  flex-direction: column;
  height: 60vh;
  overflow-y: scroll;
}

.py-3 {
  padding-top: 1rem ;
  padding-bottom: 1rem ;
}
.px-4 {
  padding-right: 1.5rem ;
  padding-left: 1.5rem ;
}

.flex-grow-0 {
  flex-grow: 0 ;
}
.border-top {
  border-top: 1px solid #dee2e6 ;
}