* {
  font-family: "Nanum Gothic", sans-serif;
  font-weight: bold;
}

.box {
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  width: 90%;
  margin: 0 auto;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.box:hover {
  transform: scale(1.05);
}

.box.isSelected {
  background-color: #f3f5f7;
  transform: scale(1.05);
}

.image {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 0.5rem;
  margin-left: 15px;
  border: 0.5px solid #d9d9d9;
  border-radius: 4px;
}

.userData {
  display: inline;
  margin-left: 1.5rem;
  margin-right: 3rem;
  margin-top: 0.3rem;
}

.userData .username,
.userData .job {
  margin: 0;
}

.userData .job {
  margin-top: 0rem;
  color: #9da194;
  font-size: 0.9rem;
}

.messageStatusBox {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bedgeBox {
  margin-right: 1rem;
}

@media (max-width: 425px) {
  .image {
    display: inline-block;
    width: 35px;
    height: 35px;
    margin: 0.5rem;
  }
  .userData {
    display: inline;
    align-items: center;
    margin-top: 0.2rem;
    margin-left: 0.2rem;
    margin-right: 0rem;
    font-size: 0.8rem;
  }
  .bedgeBox {
    margin-right: 0.5rem;
    font-size: small;
  }
}
