.text {
    background-color: white;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 0.25rem;
    flex-shrink: 1;
}