.user-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  font-size: 1.5rem;
  padding-top: 10px;
  color: #9da194;
}

.user-list {
  height: 60.5vh;
  overflow-y: scroll;
  padding-bottom: 3rem;
}

.image {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 0.5rem;
  margin-left: 1rem;
  border: 0.5px solid #d9d9d9;
  border-radius: 4px;
  margin-right: 2rem;
}

/* Set the width of the sidebar */
.sidebar {
  background-color: white;
  border: 1px solid #d9d9d9;
  width: 70%;
  height: calc(100vh - 100px);
  top: 100px;
  overflow-y: scroll;
  position: fixed;
  left: -70%;
  z-index: 1;
  transition: 0.5s;
}

.chat-header {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-bottom: 1px solid #dee2e6;
}

/* Style the sidebar links */
.sidebar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: 0.3s;
  font-size: 20px;
}

/* Toggle this class to show the sidebar */
.sidebar-open {
  left: 0;
}

.toggleButton {
  background-color: var(--color-blue);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  margin: 0.75rem 0.5rem;
  margin-top: 1rem;
}

@media (max-width: 425px) {
  .toggleButton {
    padding: 0.2rem 0.5rem;
    margin: 1rem 0.5rem;
    margin-left: 1rem;
  }
  .image {
    width: 35px;
    height: 35px;
    margin: 0.5rem;
    margin-left: 0.7rem;
    border-radius: 4px;
    margin-right: 1rem;
  }
  .chat-header {
    padding: 0;
    font-size: 0.85rem;
  }
}
