.list {
  display: flex;
  align-items: center;
  margin-right: 0.8rem;
  padding: 0.2rem 0.5rem 0.2rem 0.8rem;
  border-radius: 0.4rem;
  cursor: pointer;
}

.text {
  font-size: 0.9rem;
  font-weight: bolder;
}

.cancel {
  margin-left: 0.4rem;
}

@media screen and (max-width: 425px) {
  .list {
    height: 1.8rem;
  }

  .text {
    font-size: 0.8rem;
  }
}
