.card {
  position: relative;
  margin-bottom: 1rem;
  padding: 0.4rem 1rem;
  border: 1px solid var(--color-dark-gray);
  border-radius: 1rem;
  overflow: hidden;
  cursor: pointer;
}

.closed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-gray);
  opacity: 0.6;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 0.8rem 0.4rem;
  padding-bottom: 0.6rem;
  border-bottom: 1px solid var(--color-gray);
}

.title {
  margin-bottom: 0;
  margin-right: 1rem;
  font-size: 1.4rem;
  font-weight: bolder;
}

.date {
  flex-shrink: 0;
  margin: 0;
  font-size: 0.9rem;
  color: var(--color-dark-gray);
}

.description {
  display: -webkit-box;
  margin: 1rem 0;
  overflow: hidden;
  font-weight: light;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.qualification {
  display: flex;
}

.qualification p {
  flex-shrink: 0;
  margin-right: 1.2rem;
  margin-bottom: 0;
  font-weight: bolder;
  color: var(--color-dark-gray);
}

.profile {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.profile p {
  flex-shrink: 0;
  margin: 0;
  margin-left: 0.4rem;
}

.image,
.empty {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.empty {
  background-color: var(--color-blue);
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 480px) {
  .description {
    margin-top: 0.6rem;
    margin-bottom: 0.2rem;
  }
  .qualification {
    flex-direction: column;
    margin: 0.4rem 0;
  }
}

@media screen and (max-width: 425px) {
  .header {
    flex-direction: column;
    padding: 0;
    padding-top: 0.4rem;
  }

  .title {
    margin-right: 0;
  }

  .date {
    text-align: end;
    width: 100%;
    font-size: 0.8rem;
  }

  .description {
    display: none;
  }

  .qualification p {
    margin-bottom: 0;
    margin-right: 0;
    font-size: 0.9rem;
    font-weight: 600;
    color: black;
  }

  .profile p {
    font-size: 0.9rem;
  }

  .image,
  .empty {
    width: 32px;
    height: 32px;
  }
}
