.outlet {
  width: 100%;
  height: 100%;
  padding-top: 74.59px;
}

@media screen and (max-width: 768px) {
  .outlet {
    padding-top: 100.19px;
  }
}

@media screen and (max-width: 425px) {
  .outlet {
    padding-top: 93.78px;
  }
}
