.outlet {
  width: 100%;
  height: calc(100% - 74.59px);
}

@media screen and (max-width: 768px) {
  .outlet {
    height: calc(100% - 100.19px);
  }
}

@media screen and (max-width: 425px) {
  .outlet {
    height: calc(100% - 93.78px);
  }
}
