.page {
  display: flex;
}

.main {
  width: 100%;
}

.header {
  display: flex;
  flex-direction: column;
}

.header__upper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.8rem 1rem 0;
  padding-bottom: 0.4rem;
  border-bottom: 1px solid var(--color-gray);
}

.list {
  display: flex;
  margin: 0;
  padding: 0;
}
