.page {
  position: relative;
  display: flex;
}

.main {
  position: relative;
  width: 100%;
}

.menuBtn {
  position: absolute;
  top: 2rem;
  left: 1rem;
  font-size: 2rem;
  cursor: pointer;
}

.menuBtn:hover {
  color: var(--color-blue);
}

.header {
  display: flex;
  flex-direction: column;
}

.header__upper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.8rem 1rem 0;
  padding-bottom: 0.4rem;
  border-bottom: 1px solid var(--color-gray);
}

.list {
  display: flex;
  margin: 0;
  padding: 0;
}
