.page {
  display: flex;
}

.main {
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1rem;
  margin-top: 1.6rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--color-gray);
}

.list {
  display: flex;
  margin: 0;
  padding: 0;
}
